[Desktop Entry]
Encoding=UTF-8
Name=dyor
Comment=dyor P2P Cryptocurrency
Comment[fr]=dyor, monnaie virtuelle cryptographique pair à pair
Comment[tr]=dyor, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/dyor-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/dyor;
Categories=Office;
